
#project-container {
    padding: 25px;
    text-align: center;
    flex: 0.75;

    background-color: #fafafa;
    border-right: 1px solid #e3e3ee;
}

.project {
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
}

.project:focus {
    font-weight: bold;
}

#new-project, #project-form {
    margin-bottom: 20px;
}

#add {
    font-size: 16px;
    padding: 0 10px;
    background-color: green;
}